body {
    background-color: whitesmoke;
    font-family: 'Fira Sans', Arial, sans-serif;
}

h1 {
    font-size: 60px;
    text-emphasis: extra-bold;
}

input {
    margin: 10px;
}

.jumbotron {
    text-align: center;
}

#filterInput {
    float: right;
    width: 40%;
}